* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(12, 12, 12) !important;
    color: white;
  }
  header{
    position: fixed;
    width: 100%;
    top: 0; left: 0; right: 0; 
    z-index: 100;
    background-color: rgb(12, 12, 12); 
    padding: 30px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  } 
  .headertitle{
    color: white;
    
  }
  .headericons{
    color: white;
    display: flex;
    gap: 25px;
  }
  .headericons a i{
    color: white;       
    text-decoration: none;
  }
  .carousel{                                /*carousel*/
    margin-top: 100px;
  }
  .carousel-item{
    margin-top: 35%;
    
  } 
  .carousel-caption{
    text-align: left;
    
  }
  .banner-info h5{
    font-size: 35px;
    margin-top: 30%;
    color: rgb(250, 249, 249);
  }
  .banner-info h3{
    font-size: 35px;
    color: rgb(242, 242, 247);
  }
  .carousel-cost{
    font-size: xx-large;
  }
  .carousel-rupee{
    font-size: x-large;
  }
  .carousel-strike{
    text-decoration: line-through;
    font-size: x-large;
    color: rgb(55, 51, 51);
  }
  .strike-rupee{
    text-decoration: line-through;
    font-size: x-large;
    color: rgb(55, 51, 51);
  }
  .carousel-btn{
    background-color: red;
    color: aliceblue;
    border: none;
    padding: 5px;
  }
  .banner-img img{
    width: 480px;
    margin-left: 40%;
  }
  /* carousel end */
  .feature-head{
    text-align: center;
    margin-top: 70px;
  }
  .feature-head h2{
    color: white;
  }
  .feature-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    
  }
  .feature-img{
    flex: 1;
    width: 100px;
    color: white;   
  }
  .fp-image1{
    display: flex;
    flex-direction:column;
    transform-origin:left;
    transform: scale(1.0); 
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    color: aliceblue;
  }
  .fp-image2{
    display: flex;
    flex-direction:column;
    transform-origin:left;
    transform: scale(1.5); 
    justify-content: center;
    align-items:self-start;
    flex: 1;
    padding-right: 20px;
    margin-right: 80px;
    color: aliceblue;
  }
  .fp-image3{
    display: flex;
    flex-direction:column;
    transform: scale(2.5);
    justify-content: center;
    transform-origin:left;
    flex:1;
    padding-right: 20px;
    margin-right: 20px;
    color: aliceblue;
  }
  .fp-image4{
    display: flex;
    flex-direction:column;
    transform: scale(1.5);
    justify-content: center;
    transform-origin:center;
    flex: 1;
    padding-left: 50px;
    margin-left: 100px;
    align-items:center;
    color: aliceblue;
  }
  .fp-image5{
    display: flex;
    flex-direction:column;
    transform-origin:right;
    transform: scale(1.0);
    justify-content: center;
    flex: 1;
    align-items: flex-end;
    color: aliceblue;
  }
                             /* top-products */
  .top-products-title{
    text-align: center;
    color: aliceblue;
  }
  .top-products-items{
    display: flex;
    justify-content: center;
    color: aliceblue;
  }
  .top-products-items ul{
    display: flex;
    list-style: none;
    margin-top: 50px;
    gap: 200px;
    justify-content: center;
  }
  .top-products-items ul li:hover{
    background-color: red;
   cursor: pointer;
  }
  .product-card{
    /* max-width: 335px; */
    width: 100%;
    border: solid rgb(56, 54, 54); 
    margin-top: 40px;
  }
  .product-card-img{
    margin: 15px;
    width: 75%;
    max-height: 200px;
    position: relative;
    left: 27px;
  }
  
  .product-card-body{
    min-height: 200px;
  }
  .product-card-stars i{
    color: red !important;
    margin-left: 20px !important;
  } 
  .product-card-body h4{
    color: aliceblue;
    position: relative;
    left: 20px;
    font-size: xx-large;
  }
  .product-card-body p{
    color: rgb(110, 107, 107);
    position: relative;
    left: 20px;
    font-size: x-large;
  }
  .product-card-price{
    margin-left: 20px !important; 
  } 
  .product-cost, .product-cost-rupee{
    color: aliceblue;
    font-size: xx-large;
    display: inline-block;
  }
  .product-cost-strike{
    margin-left: 10px;
  }
  
  .product-cost-strike, .product-cost-rupee-strike{
    font-size: xx-large;
    text-decoration: line-through;
    color: rgb(55, 51, 51);
  }
  .product-card-btn{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product-card-btn:hover{
    transform: scale(1.1); 
    background-color: rgb(24, 161, 24) !important;
    border: none !important;
  }
                            /* footer */
  .footer-title{
    color: aliceblue;
    text-align: center;
    margin: 70px;
  }
  .footer-items{
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
  }
  .footer-items-logo-out{
    display: flex;
  }
  .footer-items-logo-in{
    color: red;
    font-size: 45px;
    margin-right: 10px;
  }
  .footer-items-text p{
    color: rgb(101, 102, 104);
  }
                          /* footer body */
  .home-page-footer{
    background-color: black;
  }
  .footer-body{
    color: aliceblue;
    display: flex;
    padding: 25px;
    margin-top: 45px;
  }
  .footer-body-col{
    margin-left:10px;
    max-width: 480px;
  }
  .footer-body-col h2{
    font-size: xxx-large;
  }
  .footer-body-col p{
    font-size: 25px;
    color:rgb(143, 138, 138);
  }
  .footer-body-col button{
   border-radius: 5px;
   display: flex;
  }
  .footer-body-col-btn{
    padding: 16px;
    width: 425px;
    background-color: rgb(6, 5, 5);
    color: aliceblue;
    border: rgb(150, 24, 24);
  }
  .footer-body-col-subscrib-btn{
    background-color: red;
    border: none;
    width: 200px;
    padding: 8px;
    font-size: medium;
    margin-top: 13px;
  }
  .footer-body-col-1{
    margin-right: 100px;
    margin-left: 23px;
    margin-top: 10px;
  }
  .footer-body-col-1 h4{
    font-size: x-large;
    margin-left: 33px;
  } 
  .footer-body-col-1 ul{
    list-style: none;
  }
  .footer-body-col-1 ul li{
    margin-top: 20px;
    font-size: x-large;
    color: rgb(143, 138, 138);
  }
  .footer-body-end{
    display: flex;
  }
  .footer-body-end h5{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 10px;
  }
  .footer-last-logo{
    margin-left: 800px;
  }
  .footer-last-logo i{
    color: aliceblue;
    margin: 20px;
  }

